<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="icons/fontello-ed752015/css/fontello.css">
    <link rel="stylesheet" href="icons/fontello-5cb975b5/css/fontello.css">
</head>

<body>
    <div id="app-module"></div>
    <div id='footer' class='footer landing-footer tour-footer gallery-footer'>
        <a id='footer' class='footer-link landing-footer-link tour-footer-link gallery-footer-link'
            href='https://jpabloroa.github.io/index.html'>
            <img id='footer-main-photo' class='footer-main-photo'
                src='https://drive.google.com/uc?export=view&id=16iwTbMoqSnSSoKl7kbcRJzZUkwANcDdf'>
        </a>
    </div>
    <i class="icon-th-large"></i>
</body>

</html>